AddDefaultCharset UTF-8

RewriteRule ^onas? onas.html [NC,L]
RewriteRule ^menu?$ menu.html [NC,L]
RewriteRule ^galeria?$ galeria.html [NC,L]
RewriteRule ^kontakt?$ kontakt.html [NC,L]
RewriteRule ^check?$ check.php [NC,L]
RewriteRule ^404?$ 404.php [NC,L]

ErrorDocument 404 /404.php